
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

nav {
  background-color: #5e5a84;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

div {
  margin: 1rem;
}
